--- apps/desktop/desktop_native/core/Cargo.toml.orig	2026-02-02 09:34:46 UTC
+++ apps/desktop/desktop_native/core/Cargo.toml
@@ -46,14 +46,16 @@ zeroizing-alloc = { workspace = true }
 typenum = { workspace = true }
 zeroizing-alloc = { workspace = true }
 
-[target.'cfg(target_os = "linux")'.dependencies]
+[target.'cfg(any(target_os = "linux", target_os = "freebsd"))'.dependencies]
 ashpd = { workspace = true }
 homedir = { workspace = true }
 libc = { workspace = true }
-linux-keyutils = { workspace = true }
 oo7 = { workspace = true }
 zbus = { workspace = true, optional = true }
 zbus_polkit = { workspace = true, optional = true }
+
+[target.'cfg(target_os = "linux")'.dependencies]
+linux-keyutils = { workspace = true }
 
 [target.'cfg(target_os = "macos")'.dependencies]
 core-foundation = { workspace = true, optional = true }
