[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Ueli
Comment=Cross-Platform Keystroke Launcher
Icon=uel
Exec=ueli %U
Categories=Utility;
Terminal=false
StartupWMClass=Ueli
