[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=YouTube Music
Comment=YouTube Music desktop app - including custom plugins
Icon=youtube-music
Exec=youtube-music %U
Categories=AudioVideo;
Terminal=false
StartupWMClass=YouTube Music
