[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Session
Comment=Private messaging from your desktop
Icon=session-desktop
Exec=session-desktop %U
Categories=Network;
Terminal=false
StartupWMClass=Session
