[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Mattermost
Comment=Mattermost
Icon=mattermost-desktop
Exec=mattermost-desktop %U
Categories=Network;InstantMessaging;
Terminal=false
StartupWMClass=Mattermost
MimeType=x-scheme-handler/mattermost;
