[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Feishin
Comment=A modern self-hosted music player
Icon=feishin
Exec=feishin %U
Categories=AudioVideo;Audio;Player;
Terminal=false
StartupWMClass=Feishin
