[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Museeks
Comment=A simple, clean and cross-platform music player, written with Node.js, Electron and React.js.
Icon=museeks
Exec=museeks %U
Categories=Audio;
Terminal=false
StartupWMClass=Museeks
